.letter1 {
    color: #FF5733;
}

.letter2 {
    color: #FF8D1A;
}
.letter3 {
    color: #FFC300;
}
.letter4 {
    color: #8D33FF;
}
.letter5 {
    color: #33FF57;
}
.letter6 {
    color: #1AFFD5;
}
.letter7 {
    color: #3380FF;
}